header {
  display: flex;
  justify-content: center;
  width: 100%;
}

h1,
h2,
label,
p {
  color: white;
}

h1 {
  font-size: 64px;
}

h2 {
  font-size: 36px;
}

label, p, input {
  font-size: x-large;
  padding: 2px;
}

div {
  font-size: x-large;
  font-weight: bold;
}

button {
  background-color:#1a282d;
  border-radius: 6px;
  margin-bottom: 20px;
  cursor: pointer;
  font-size: x-large;
  color: white;
  padding: 5px 10px
}

body {
  background-color: #0b1416;
}

section {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: black;
  padding-bottom: 3rem;
  height: 80%;
}

#story-selector {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 3rem;
}

.grid-item {
  background-color: #1a282d;
  color: #fff;
  text-align: center;
  cursor: pointer;
  padding-top: 40px;
  width: 40vw;
  height: 30vh;
  border-radius: 1rem;
}

@media only screen and (max-width: 1200px) {
  .grid-item {
    max-height: 300px !important;
  }
}

.grid-item:hover {
  box-shadow: 0 0 20px rgb(244, 240, 8)
}

#city-story {
  background-image: url('/static/images/city-story.jpeg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

#roadtrip-story {
  background-image: url('/static/images/roadtrip-story.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center bottom
}

#food-story {
  background-image: url('/static/images/food-story.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

#park-story {
  background-image: url('/static/images/park-story.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center
}

#set-up {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.story-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

#story {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  background-color: black;
  width: 60%;
  padding: 20px;
  border-radius: 2rem;
}