header {
  display: flex;
  justify-content: center;
  width: 100%;
  background-color: #0b1416;
  margin: 0;
}

h1,
h2,
p {
  color: white;
}

div {
  font-weight: bold;
  font-size: large;
}

body {
  background-color: #0b1416;
}

section {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: black;
  padding-bottom: 20px;
}

#story-selector {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 20px;
}

.grid-item {
  background-color: #1a282d;
  color: #fff;
  text-align: center;
  cursor: pointer;
  padding: 10px;
  width: 300px;
  height: 150px;
  border-radius: 5px;
}

.grid-item:hover {
  box-shadow: 0 0 10px rgb(231, 250, 106)
}

#city-story {
  background-image: url('/static/images/city-story.jpeg');
  background-size: cover;
  background-repeat: no-repeat;
}
#city-story {
  background-image: url('/static/images/city-story.jpeg');
  background-size: cover;
  background-repeat: no-repeat;
}

#road-story {
  background-image: url('/static/images/road-story.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom
}

#food-story {
  background-image: url('/static/images/food-story.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom;
}

#park-story {
  background-image: url('/static/images/park-story.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}