<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>MadLibraries</title>
  <link rel="stylesheet" href="/static/styles.css">
</head>

<body>
  <header>
    <h1>Mad~Lib~Raries!</h1>
  </header>
  <hr>

  <section id="story-section">
    <h2>Choose your Story Template!</h2>
    <div id="story-selector">
      <div class="grid-item" id="city-story" onclick="selectStory('Story 1')">CITY</div>
      <div class="grid-item" id="park-story" onclick="selectStory('Story 2')">THEME PARK</div>
      <div class="grid-item" id="food-story" onclick="selectStory('Story 3')">FOOD</div>
      <div class="grid-item" id="road-story" onclick="selectStory('Story 4')">ROADTRIP</div>
    </div>
  </section>
  <hr>

  <form id="set-up">
    <p></p>
  </form>

  <div class="story-block">
    <p>I love to {%verb%} {%plural noun%}</p>
  </div>
</body>
<script src="/static/app.js"></script>
</html>