<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>MadLibraries</title>
  <link rel="stylesheet" href="/static/styles.css">
</head>

<body>
  <header>
    <h1>Mad~Lib~Raries!</h1>
  </header>
  <hr>

  <section id="story-section" {% if story_chosen %}style='display: none;'{% endif %}>
    <h2>Choose your Story Template!</h2>
    <div id="story-selector">
      <div class="grid-item" id="city-story" onclick="selectStory('city')">CITY</div>
      <div class="grid-item" id="park-story" onclick="selectStory('park')">THEME PARK</div>
      <div class="grid-item" id="food-story" onclick="selectStory('food')">FOOD</div>
      <div class="grid-item" id="road-story" onclick="selectStory('roadtrip')">ROADTRIP</div>
    </div>
  </section>

  <form action="/story/{{ selected_story }}" method="post" id="set-up" {% if not story_chosen or not selected_story %}style='display: none;'{% endif %}>
    {% for prompt in prompts %}
      <label for="{{prompt}}">{{prompt}}:</label>
      <input type="text" name="{{prompt}}">
      <br>
    {% endfor %}
    <button type="submit">Generate Story</button>
  </form>
  <hr>
</body>

<script src="/static/app.js"></script>

</html>